* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}
/* Header */
header {
  background-color: #1f2937;
  padding: 100px;
}


.header-logo{
  font-size: 24px;
  font-weight: 900;
  color: #F9FAF8;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 15px;
  margin-left: 200px;
  margin-right: 250px;
}

.nav ul{
  list-style-type: none;
  display: flex;
  gap: 15px;
}

.secondary, a {
  font-size: 18px;
  color: #E5e7eb;
  text-decoration: none;
}
/* Welcome */
.hero {
  font-size: 48px;
  font-weight: 900;
  color: #F9FAF8;
}

button {
  padding: 7px 1em;
  width: 120px;
  background-color: #3882F6;
  border-radius: 8px;
}

.img {
  background-color: gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 215px;;
}

.welcome button {
  border: none;
}

.welcome {
  padding: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin-left: 200px;
}

.welcome .left {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.welcome .right {
  display: flex;
  flex-shrink: 0;
  width: 50%;
}

